@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    min-height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4e7e5;
    color: #181b19;
}
